<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h2>View my items</h2>

    <% items.forEach(function(item){ %>
        <div class = "my-items-box">
            <img src="<%= item.image_url%>" alt="">
            <div class = "item-box-text">
                <p>Name: <%= item.name %></p>
                <p>Item type: <%= item.item_type %></p>
                <p>Pickup date: <%= item.pickup_date %></p>
                <p>Item status: <%= item.status %></p>
            </div>
        </div>
            <% }); %>
    
    <h2>Reserved</h2>
    <!-- what that user has reserved -->
    <!-- fetch the item this user reserved -->
    
</body>
</html>

